@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #1B2A49;
    --second-color: #FFF;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* Chat GPT */
}

/* body {

} */

.background {
    width: 100%;
}

.escuro {
    background-color: var(--primary-color);
}

.claro {
    background-color: var(--second-color);
}

.fixo {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    z-index: 1;
}

.container__responsivo {
    width: 85%;
    max-width: 144rem;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.header__logo a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-header {
    width: 100%;
}

.header__links__conteudo {
    list-style: none;
}

.header__links__conteudo li a {
    display: block;
    color: var(--second-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: all .5s;
}

.header__links__conteudo li a:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}

.section__principal {
    text-align: center;
    padding: 2rem 0;   
}

.section__principal__textos > * {
    margin-bottom: .8rem;
}

.section__principal__textos h1 {
    font-size: 2em;
}

.section__principal__textos h2 {
    text-transform: uppercase;
    font-size: 2em;
}

.section__principal__textos h3 {
    font-size: 1.5em;
    color: #7d7d7d;
}

.section__principal__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section__principal__links a {
    text-decoration: none;
    font-size: 1.5rem;
}

.section__principal__links .saiba-mais {
    color: var(--second-color);
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 2rem 4rem;
    border-radius: 1rem;
    min-height: 6rem;
}

.section__principal__links .baixar-cv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border: 2px solid var(--primary-color);
    padding: .8rem 2.5rem;
    border-radius: 1rem;
    color: var(--primary-color);
    min-height: 6rem;
}

.section__principal__links .baixar-cv img {
    width: 2em;
}

.section__principal__icons img {
    width: 4.5em;
    margin: 1rem .5rem;
}

.ilustracaoDaniel {
    width: 50%;
    height: auto;
    max-width: 520px;
}

.section__sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem 0;

    align-items: center;
    text-align: center;
}

.section__sobre-mim img {
    width: 50%;
    max-width: 520px;
}

.conteiner__sobre-mim h4 {
    display: inline-block;
    font-size: 1.8em;
    background-color: var(--second-color);
    padding: 1rem 5rem;
    border-radius: 2rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.conteiner__sobre-mim span {
    font-size: 1.8rem;
}

.conteiner__sobre-mim p {
    text-align: left;
    color: var(--second-color);
    font-size: 1.2em;
    margin-bottom: 2.5rem;
    line-height: 1.5;

    display: flex;
    gap: .8rem;
}

.section__portifolio {
    padding: 2rem 0;
}

.header__sessao-portifolio {
    margin-bottom: 5rem;
    text-align: center;
}

.header__sessao-portifolio h4,
.container__textos-contatos h4  {
    display: inline-block;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    padding: 1rem 5rem;
    border-radius: 2rem;
    color: var(--second-color);
    margin-bottom: 3rem;
}

.title__buttons-portifolio h5,
.container__textos-contatos h5  {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.buttons__sessao-portifolio {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.buttons__sessao-portifolio .filtro {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .5s;
}

.buttons__sessao-portifolio .filtro.ativo {
    background-color: var(--primary-color);
    color: var(--second-color);
}

.containerDisplayGrid {
    container: cardGridTrabalhos / inline-size;
}

.container__trabalhos-projetos {
    display: none;
}

.container__trabalhos-projetos.mostrar {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.card__trabalhos-projetos {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    display: none;
    /* max-width: 60rem; */
}

.card__trabalhos-projetos.mostrar-card {
    display: flex;
}

.card__trabalhos-projetos h6 {
    font-size: 2rem;
    color: var(--primary-color);
}

.card__trabalhos-projetos p {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.card__trabalhos-projetos a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 2rem;
    align-self: flex-start;
}

.container__links {
    margin-bottom: 1rem;
}

.button__visitar {
    background-color: #4AE290;
    color: black;
}

.button__github {
    background-color: #24292F;
    color: var(--second-color);
}

.tecnologias {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.tecnologias p {
    text-align: center;
    flex: 1;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--second-color);
    padding: 1rem 2rem;
    border-radius: 15px;
}

.nao-disponivel {
    opacity: .3;
}

.container__ver-mais {
    display: none;
    justify-content: end;
}

.container__ver-mais.mostrar {
    display: flex;
}

.btn-ver-mais {
    background-color: var(--primary-color);
    color: var(--second-color);
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.btn-ver-mais:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}

.section__habilidades {
    padding: 2rem 0;
    text-align: center;
}

.section__habilidades h4 {
    color: var(--second-color);
    font-size: 3rem;
    margin-bottom: 5rem;
}

.section__habilidades h4 span {
    color: var(--primary-color);
    background-color: var(--second-color);
    padding: .1rem;
}

.container__imagens-habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.container__imagens-habilidades img {
    max-width: 100px;
}

.section__contatos {
    padding: 2rem 0;
}

.container__textos-contatos {
    text-align: center;
}

.container__formas-contato {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.container__formas-contato a {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__formas-contato a span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.container__formas-contato a img {
    max-width: 2.4rem;
}

.formas-contato__email {
    cursor: auto;
}

.formas-contato__email :nth-child(3) {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container__footer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container__footer p {
    color: #CCCCCC;
    font-size: 1.2rem;
}

.container__links-footer {
    display: flex;
    gap: 2rem;
}

.container__links-footer a img {
    width: 3rem;
}

.link-cima {
    position: fixed;
    padding: 1rem;
    background-color: #4AE290;
    bottom: 2rem;
    right: 2rem;
    border: 3px solid black;

    transition: background-color .5s;
    display: none;
}

.link-cima:hover {
    background-color: #4ae291be;
}

.link-cima img {
    transform: rotate(-90deg);
    width: 3rem;
}

@media (width > 45em) {
    .container__formas-contato {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container__formas-contato a {
        max-width: 50%;
        flex: 1 1 calc(50% - 2rem);
    }
}

@media (width > 50em) {
    .section__principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .section__sobre-mim {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .conteiner__sobre-mim p {
        font-size: 1.5em;
    }

    .title__buttons-portifolio h5 {
        font-size: 2.5rem;
    }

    .buttons__sessao-portifolio .filtro {
        font-size: 1.5rem;
    }

    .section__habilidades h4 {
        font-size: 4.5rem;
    }

    .section__habilidades h4 span {
        padding: .5rem;
    }
}

@media (width > 60em) {
    .fixo {
        position: sticky;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__links__conteudo {
        display: flex;
    }

    .nav-header {
        width: auto;
    }

    .section__principal {
        text-align: left;
    }

    .section__principal__textos h1 {
        font-size: 3em;
    }

    .section__principal__textos h2 {
        text-transform: uppercase;
        font-size: 3em;
    }

    .section__principal__textos h3 {
        font-size: 2em;
    }

    .section__principal__links .saiba-mais,
    .section__principal__links .baixar-cv {
        margin-right: auto;
    }

    .section__principal__links .baixar-cv {
        gap: 2rem;
    }

    .container__formas-contato a img {
        max-width: 4rem;
    }

    .container__footer {
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    .container__footer p {
        font-size: 1.6rem;
        position: absolute;
        left: 0;
    }

    .container__links-footer a img {
        width: 4rem;
    }
}

@media (width > 75em) {
    .section__principal__textos h2 {
        text-transform: uppercase;
        font-size: 3.95em;
    }

    .section__principal__links .saiba-mais,
    .section__principal__links .baixar-cv {
        font-size: 2rem;
    }

    .header__sessao-portifolio {
        text-align: left;
    }

    .header__sessao-portifolio h4 {
        font-size: 2.4rem;
    }

    .title__buttons-portifolio {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title__buttons-portifolio h5 {
        font-size: 4rem;
    }

    .buttons__sessao-portifolio .filtro {
        font-size: 2rem;
    }

    .container__textos-contatos h4 {
        font-size: 2.4rem;
    }

    .container__textos-contatos h5 {
        font-size: 4rem;
    }

    .container__formas-contato a span {
        font-size: 1.6rem;
    }
}

@container cardGridTrabalhos (width > 660px) {
    .container__trabalhos-projetos.mostrar {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container cardGridTrabalhos (width > 1050px) {
    .container__trabalhos-projetos.mostrar {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__trabalhos-projetos h6 {
        font-size: 2.2rem;
    }

    .card__trabalhos-projetos p {
        font-size: 1.6rem;
    }

    .card__trabalhos-projetos a {
        font-size: 1.6rem;
    }
}